.body{margin: 0;}
.footer{background-color: aquamarine;overflow: hidden;}
.footer1{float: left; overflow: hidden;}
.footer2{float: left; overflow: hidden;}
.ul1{display:inline-block; overflow: hidden;}
.ul2{display: inline-block; overflow: hidden;}