.body {
    margin: 0;
    background-color: beige;
}

.main {
    background-color: aqua;
    overflow: hidden;display: flex;
    margin: 0 auto;
}

.parent {
    background-color: cadetblue;
    overflow: hidden;
    width: 70%;
    margin: 0px 35px;
    padding: 0px 24px;
}

.child1 {
    background-color: coral;
    padding: 30px;
    overflow: hidden;
    ;
    text-align: center;
    display: inline-block;
}

.child2 {
    background-color: darkgoldenrod;
    overflow: hidden;
    width: 30%;
    margin-top: 20px;
    text-align: center;
    padding: 19px 47px;
    vertical-align: center;
}
.footer {
    overflow: hidden;
}

.ul {
    padding: 0px 11px;
}

.footerli {
    border: 1px;
    border-top-right-radius: 55px;
    padding: 12px 45px;
    background-color: cadetblue;
    display: inline-block;
}

.lastfooter {
    margin-left: -28px;
    text-align: center;
    width: 97px;
    display: inline-block;
    border: 1px solid black;
    padding: 12px 0px;
    box-sizing: border-box;
    background-color: forestgreen;
    color: aliceblue;
    margin-right: 25px;
}

.state {
    background-color: darkorange;
}



