.body {
    margin-left: 50px;

    width: 80%;
}

.header {
    overflow: hidden;
    border-bottom: 2px solid pink;
}

.education {
    display: inline-block;
    overflow: hidden;
}

.mp {
    display: inline-block;
    overflow: hidden;
    top: 100px;
}

.map {}

.top-right {
    float: right;
}

.login {
    
}
.button{background-color:orange;border: 0;padding: 10px;border-radius: 10px;}

.li {
    display: inline-block;
}

.all-border {
    border: 1px solid black;
    
    padding: 20px;
    margin-right: 90px;
    border-radius: 20px;
    width: 100%; max-width:30%;
    font-size: smaller;
    box-shadow: 24px 14px 12px red;
}

.mar {
    margin-right: 0px;
}

.pics {
    width: 50px;
}

.amit {
    text-align: center;
}



.main {
    border-bottom: 2px solid pink;

    overflow: hidden;
}

.innermain {
    display: inline-block;
}

.footer {
    overflow: hidden;
}

.ul {
    padding: 0px 11px;
}

.footerli {
    border: 1px;
    border-top-right-radius: 55px;
    padding: 12px 45px;
    background-color: cadetblue;
    display: inline-block;
}

.lastfooter {
    margin-left: -28px;
    text-align: center;
    width: 97px;
    display: inline-block;
    border: 1px solid black;
    padding: 12px 0px;
    box-sizing: border-box;
    background-color: forestgreen;
    color: aliceblue;
    margin-right: 25px;
}

.state {
    background-color: darkorange;
}