.body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
@font-face {
    font-family:EduNSWACTFoundation-VariableFont_wght ;
    src: url(./fonts-folder/EduNSWACTFoundation-VariableFont_wght.ttf);
}
.names{font-family:EduNSWACTFoundation-VariableFont_wght}

.header {}

.top-header {}

.inner-header {
    overflow: hidden;
    display: flex;
    padding: 17px 100px;
    justify-content: space-between;background-color: #eee;
}
    .top{width: 100%;max-width: 1240px;margin: 0px auto;}

.innerheader1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.bottom-header {

    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    background-color: coral;
    box-shadow: inset 0px 1px 10px -2px grey;
}

.i {
    background-color: white;
    color: orange;
    padding: 0px 4px;
    border-radius: 100%;
    margin-right: 10px;
}

.bottom-left {
    text-align: left;

    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.bottom-right {
    text-align: right;

}

.header-bottom-margin {
    
}

.logo {

    overflow: hidden;
    text-align: left;
    display: flex;
    align-items: center;

}


.top-right {

    overflow: hidden;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;

}

.top-inner-right {color: midnightblue;
    margin: 0px 12px;
}

.main {

    overflow: hidden;
    padding: 0 100px;
    display: flex;
}

.left-section {

    width: 900px;
}

.navigation {
    display: flex;margin: 40px 0px;
}

.first-image {
    display: flex;
}

.first-pic {
    max-width: 322px;
    margin: 10px 0px;
}

.first-image-text {
    margin: 35px 0px 0px 20px;
}

.span {
    background-color: blue;
    color: white;
    border-radius: 100%;
    margin-left: 25px;
    padding: 0px 2px;
}

.h5 {
    margin: 27px 0px;
}

.first-image-text-last-nav {
    border-top: 1px solid black;

    padding: 13px 0px;
    display: flex;
}

.first-image-text-bottom-nav {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.inner-nav {
    margin: 0px 25px;
}

.forddd {
    max-width: 100px;
    padding: 8px 0px;
}

.forddd-img {
    background-color: blue;
    max-width: 414px;
    width: 100%;
}

.announcement {
    margin-left: 10px;
}

.latest-news {
    float: left;
}

.input-margin {
    margin-top: 20px;
}

.input {
    float: right;
}




















.upcoming-holiday-parent {
    display: flex;
    width: 100%;
    max-width: 858px;
    margin: 0px auto;

}

.upcoming-holiday-image {
    max-width: 300px;
}

.upcoming-holiday-main-image {
    max-width: 300px;
}

.upcoming-holiday-parent-text {box-shadow: grey 16px 12px 15px -16px;
    padding-top: 50px;
    font-family: sans-serif;
    margin-left: 20px;
}

.upcoming-holiday-heading-text {margin-right: 122px;}

.upcoming-holiday-text-color {
    color: midnightblue;
}

.upcoming-holiday-view-heading-arrow {

    color: white;
    padding: 0px 2px;
    border-radius: 100%;
    margin-left: 15px;
}

.upcoming-holiday-bottom-text-section {
    border-top: 1px solid grey;margin-right: 15px;
    padding: 8px;
}

.upcoming-holiday-bottom-text-icon {margin-right: 30px;}

.upcoming-holiday-bottom-text-icon-image {
    width: 27;
}












.latest-news-parent {
    
    width: 100%;
    max-width: 860px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.latest-news-heading-parent {
    display: flex;
    margin-bottom: 20px;
}

.latest-news-heading {
    margin-right: 249px;
}

.latest-news-heading-font-color {
    color: midnightblue;
}

.latest-news-input {
    margin-left: 300px;
    margin-top: 25px;
}

.latest-news-video {
    max-width: 400px;
}

.latest-news-main-video {
    max-width: 600px;
}

.latest-news-text-parent {    box-shadow: grey 8px 17px 35px -22px;
    padding: 0px 20px;
}

.latest-news-heading-text {
    padding-bottom: 35px;
}

.latest-news-bottom-parent {
    border-top: 1px solid grey;
    padding: 10px;
}

.latest-news-bottom-icon {
    padding-right: 80px;
}
















































.learn-more-page-parent{text-align: center;margin: 20px 0px 40px 0px;}
.learn-more-page-arrow1{background-color: grey;color: white;padding: 0px 0px;}

.banner {

    width: 100%;
    max-width: 861px;
    margin: 0px ;
}

.banner-image {
    width: 100%;
    max-width: 1240px;
    position: relative;
}

.div-text {
    width: 50%;
    position: absolute;
    margin: -325px 30px;
    max-width: 400px;
}

.learn-more-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.learnmore {
    background-color: white;
    color: midnightblue;
    display: flex;
    border-radius: 40px;
    margin:23px 229px 0px 0px;
    text-align: center;
    padding: 7px 34px 7px;
}

.learn-more-arrow {
    font-weight: bold;
    margin-left: 11px;
}

.image-pics {
    width: 41%;
    position: absolute;
    margin: -288px 0px 0px 384px;
}

.position-img {
    width: 425px;
}



























.news-for-you-parent {
    width: 100%;
    max-width: 880px;
    margin: 20px 0px 0px;
    

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;

}

.news-for-you-header {
    max-width: 200px;position: relative;
}

.news-for-you-top-right {
    max-width: 200px;    padding: 12px 0px 0px 527px;position: absolute;font-size: 17px;

    }

.news-for-you-div {
   max-width: 1240px;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;

}

.news-for-you-image {
   max-width: 500px;
}

.news-for-you-main-image {
    width: 100%;
    max-width: 280px;
}

.news-for-you-text {
    max-width: 740px;
    margin: 0px 15px;
    box-shadow: grey 8px 17px 35px -22px;
    padding: 0px 88px 0px 0px;

}
.news-for-you-smaller-font{font-size: 1px;color: grey;margin: 14px 0px;}

.news-for-you-bottom-div {
    font-size: 15px;
    
    margin: 58px -70px -45px 10px;
    padding: 10px 0px;
    border-top: 1px solid grey;
   
}

.news-for-you-bottom-text {
    margin-right: 48px;
}
.mario{height: 94px;}












.ford-dealer-parent {
    display: flex;
    margin-top: 50px;
    max-width: 1240px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;

}

.ford-dealer-image {
    margin: 0 15px;
    max-width: px;
    width: 100%;
    
}

.ford-dealer-inner-image {
   
}
.ford-dealer-image-child{    margin: 0px 5px 0px -13px;    box-shadow: 0px 4px 10px 1px grey;border-radius: 5px;
}


.ford-dealer-main-image {
    max-width: 400px;
    width: 100%;margin-bottom: 20px;    

}

.ford-dealer-inner-text {
    margin-left:20px;
    font-weight: bold;
    font-size: 17px;

   
}
.ford-dealer-inner-text-smaller{ color: grey;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1;
}
.two-three{padding-top: 21px;}

.ford-dealer-bottom-icon {
    margin: 50px 22px 0px 22px;
    border-top: 1px solid grey;
    padding: 10px 0px;
    
}
.ford-dealer-bottom-icon-comment{margin: 0px 8px ;}
.ford-dealer-bottom-icon-share{margin-left: 26px  ;}
.ford-dealer-bottom-icon-iamge{max-width: 42px;}



































































.trending-div {width: 100%;max-width: 1240px;margin: 0px auto;
    margin-top: 20px;
}

.trending-heading-log {
    background-color: midnightblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.trending-heading-text{margin-left: 10px;}

.trending-heading {
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
    font-weight: bold;
}

.trending-parent {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid grey;
    align-items: center;
    margin-right: 10px;
}

.trending-image {
    width: 100%;
    max-width: 260px;
}
.trending-inner-image{width: 100%;max-width:187px;}

.trending-text {
    width: 100%;
    max-width: 640px;margin-left: -60px;
}

.inner-trending-text {
    font-size: 15px;
    margin-top: 10px;
}

.trending-bottom-section {
    text-align: center;
    border-bottom: 2px solid black;
    background-color: #eee;
    font-size: x-large;
    font-weight: bold;
}

.inner-trending-bottom-section {
    font-size: x-large;
    font-weight: bold;
    color: gray;
}






























.aside {
    background-color: #eee;
    width: 30%;

}

.my-widget {}

.inner-aside {}


.inner-aside-block {font-size: 20px;
    display: flex;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    margin-left: 8px;
    margin-right: 115px;
    color: midnightblue;
}

.inner-aside-block-text {
    width: 100%;
    max-width: 236px;
    color: midnightblue;
    margin-left: 10px;
    padding-top: 5px;
}

.dropdown {
    transform: rotate(90deg);
    margin: 8px;font-weight: bold;font-size: 20px;
}

.icons-bookmarks {
    width: 100%;
    max-width: 20px;
}
.book-head{font-weight: bold;margin-bottom: -17px;font-size: 14px;}
.total{color: grey;font-size: 13px;}

.icons-stock-tracker {
    width: 100%;
    max-width: 30px;
}

.icons-upcoming-meetings {
    width: 100%;
    max-width: 25px;
}

.icons-world-clocks {
    width: 100%;
    max-width: 28px;
}

.aside-bottom {
    background-color: midnightblue;
    color: white;
    text-align: center;
    margin: 15px 115px 0px 8px;
}
.aside-bottom-text{padding: 20px 0px;font-size: 13px;letter-spacing: 3px;}

.customize {
    background-color: white;
    color: midnightblue;
    border: 1px solid black;
    border-radius: 100px;
    margin: 0px 80px;
    padding: 5px 0px;
}
.customize-parent{padding-bottom: 20px;}

.footer {

    overflow: hidden;
    margin: 0px 100px;

}

.inner-footer1 {}

.li {
    margin: 3px 0px;
    color: blue;
}

.li-one {
    padding-top: 35px;
}

.font-key {
    font-weight: 900;
}

.div1 {
    display: flex;

}

.two {
    margin: 30px 140px 30px 0px;
}

.footer-image {
    display: flex;
}

.inner-footer2 {


    background-color: blue;
    color: white;
}

.faq {
    margin-right: 49px;
}