.amit {
  color: red;
  background-color: green; }

.jay {
  color: red;
  background-color: green;
  text-align: center;
  width: 100%; }

.kritesh {
  border: 2px solid; }

.guru {
  border: 2px solid;
  color: purple; }
